<hibernate-configuration>
    <session-factory>
        <!--Database connection-->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./data/worldbank</property>
        <property name="connection.username">sa</property>
        <!--SQL dialect-->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- Names the annotated entity classes -->
        <mapping class="com.cooper.countries.model.Country" />
    </session-factory>
</hibernate-configuration>